<H1>BIENVENIDO A MIS DATOS ACADEMICOS</H1>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<body background="https://i.pinimg.com/736x/2a/75/b5/2a75b5d21a4a0ae49c63070866bb7df5.jpg" width="1000" height="1000">
</body>

<p class="font-italic">Estudie Basica en:</p>     
  <p style="color:#FF0000";>Centro Escolar Eliseo Henriquez</p>

  
<p class="font-italic">Estudie Bachillerato en:</p>     
  <p style="color:#FF0000";>Instituto Nacional De Chapletique</p>

  
<p class="font-italic">Actualmente estudio en:</p>     
  <p style="color:#FF0000";>Universidad Gerardo Barrios</p>


