
<h1>BIENVENIDOS A MIS DATOS PERSONALES</h1>
<div class="alert alert-danger" role="alert"></div>


<p class="font-italic">Mi Nombre es:</p>     
  <p style="color:#7a00c0";>Maira Liseth Ramos Parada</p>

<p class="font-italic">Mi Edad es:</p>
  <p style="color:#800080";>19 Años</p>

<p class="font-italic">Mi Genero es:</p>
  <p style="color:#800080";>Femenino</p>

<p class="font-italic">Mi correo:</p>
  <p style="color:#800000";>lissramos2812@gmail.com</p>

<p class="font-italic">Direccion:</p>
  <p style="color:#800080";>Avenida Gerardo Barrios Barrio SanPedro Chapletique SanMiquel</p>

<p class="font-italic">Telefono::</p>
  <p style="color:#800080";>74714688</p>

  
<body background="https://i.pinimg.com/736x/2a/75/b5/2a75b5d21a4a0ae49c63070866bb7df5.jpg" width="1000" height="1000">
</body>



